.root {
    -fx-background-image: url("assets/blackjack-table.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-font-weight: 700;
}

.button {
    -fx-pref-width: 200px;
    -fx-pref-height: 45px;
    -fx-font-size: 14pt;
}
